.hero-background-image{
  background-image: url(https://mesa-boogie.imgix.net/media/Home/Hero/mk525combo-gtr-home-hero-main.jpg?fit=crop&crop=top&max-h=450&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.gallery{
  background-image: url(https://mesa-boogie.imgix.net/media/Home/artists-home-page.jpg?fit=crop&crop=edges&max-h=510&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
